<%= form_for(@file_link) do |f| %>
  <% if @file_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file_link.errors.count, "error") %> prohibited this file_link from being saved:</h2>

      <ul>
      <% @file_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type, 'Тип' %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :url, 'Ссылка' %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :user, 'Пользователь' %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
