<h1>Ссылки на файлы</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Тип</th>
      <th>Url</th>
      <th>Хозяин</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @file_links.each do |file_link| %>
      <tr>
        <td><%= file_link.id %></td>
        <td><%= file_link.type %></td>
        <td><%= file_link.url %></td>
        <td><%= file_link.user.show_name %></td>
        <td><%= link_to 'Показать', file_link_path(file_link) %></td>
        <td><%= link_to 'Править', edit_file_link_path(file_link) %></td>
        <td><%= link_to 'Удалить', file_link_path(file_link), method: :delete, data: { confirm: 'Точно удалить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая ссылка на файл', new_file_link_path %>
