<p id="notice"><%= notice %></p>

<p>
  <strong>Тип:</strong>
  <%= @file_link.type %>
</p>

<p>
  <strong>URL:</strong>
  <%= @file_link.url %>
</p>

<p>
  <strong>Пользователь:</strong>
  <%= @file_link.user.show_name %>
</p>

<%= link_to 'Править', edit_file_link_path(@file_link) %> |
<%= link_to 'Назад', file_links_path %>
