<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @file_link.type %>
</p>

<p>
  <strong>Url:</strong>
  <%= @file_link.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @file_link.user %>
</p>

<%= link_to 'Править', edit_file_link_path(@file_link) %> |
<%= link_to 'Назад', file_links_path %>
