<h2>Раздел администратора</h2>
<div><%= link_to 'Статьи',       articles_path %></div>
<div><%= link_to 'События',      events_path %></div>
<div><%= link_to 'Отзывы',       feedbacks_path %></div>
<div><%= link_to 'Файлы',        file_links_path %></div>
<div><%= link_to 'Пользователи', users_path %></div>