<h1>Статьи</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Тип</th>
      <th>Категория</th>
      <th>Заголовок</th>
      <th>Превью</th>
      <th>Текст</th>
      <th>Автор</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.type %></td>
        <td><%= article.category_name %></td>
        <td><%= article.title %></td>
        <td><%= article.preview %></td>
        <td><%= article.data %></td>
        <td><%= article.user.try(:show_name) %></td>
        <td><%= link_to 'Показать', article %></td>
        <td><%= link_to 'Править', edit_article_path(article) %></td>
        <td><%= link_to 'Удалить', article, method: :delete, data: { confirm: 'Точно удалить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая статья', new_article_path if can?(:create, Article)%>
