<p id="notice"><%= notice %></p>

<p>
  <strong>Тип:</strong>
  <%= @article.type %>
</p>

<p>
  <strong>Название:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Предпросмотр:</strong>
  <%= @article.preview %>
</p>

<p>
  <strong>Текст:</strong>
  <%= @article.data %>
</p>

<p>
  <strong>Автор:</strong>
  <%= @article.user.show_name %>
</p>

<%= link_to 'Править', edit_article_path(@article) %> |
<%= link_to 'Назад', articles_path %>
