<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Reset password sent at:</strong>
  <%= @user.reset_password_sent_at %>
</p>

<p>
  <strong>Remember created at:</strong>
  <%= @user.remember_created_at %>
</p>

<p>
  <strong>Sign in count:</strong>
  <%= @user.sign_in_count %>
</p>

<p>
  <strong>Current sign in at:</strong>
  <%= @user.current_sign_in_at %>
</p>

<p>
  <strong>Last sign in at:</strong>
  <%= @user.last_sign_in_at %>
</p>

<p>
  <strong>Current sign in ip:</strong>
  <%= @user.current_sign_in_ip %>
</p>

<p>
  <strong>Last sign in ip:</strong>
  <%= @user.last_sign_in_ip %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @user.updated_at %>
</p>

<%= link_to 'Править', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %>
