<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> не дают сохранить объект:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type, 'Тип' %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :title, 'Название' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :preview, 'Предпросмотр' %><br>
    <%= f.text_area :preview %>
  </div>
  <div class="field">
    <%= f.label :data, 'Текст' %><br>
    <%= f.text_area :data %>
  </div>
  <div class="field">
    <%= f.label :start_at, 'Начало' %><br>
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :finish_at, 'Конец' %><br>
    <%= f.datetime_select :finish_at %>
  </div>
  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
