<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Тип</th>
      <th>Название</th>
      <th>Предпросмотр</th>
      <th>Текст</th>
      <th>Начало</th>
      <th>Конец</th>
      <th>Автор</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.type %></td>
        <td><%= event.title %></td>
        <td><%= event.preview %></td>
        <td><%= event.data %></td>
        <td><%= event.start_at %></td>
        <td><%= event.finish_at %></td>
        <td><%= event.user.show_name %></td>
        <td><%= link_to 'Показать', event %></td>
        <td><%= link_to 'Править', edit_event_path(event) %></td>
        <td><%= link_to 'Удалить', event, method: :delete, data: { confirm: 'Точно удалить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новое событие', new_event_path %>
