<p id="notice"><%= notice %></p>

<p>
  <strong>Тип:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Заголовок:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Предпросмотр:</strong>
  <%= @event.preview %>
</p>

<p>
  <strong>Текст:</strong>
  <%= @event.data %>
</p>

<p>
  <strong>Начало:</strong>
  <%= format(@event.start_at) %>
</p>

<p>
  <strong>Конец:</strong>
  <%= format(@event.finish_at) %>
</p>

<p>
  <strong>Автор:</strong>
  <%= @event.user.show_name %>
</p>

<%= link_to 'Править', edit_event_path(@event) %> |
<%= link_to 'Назад', events_path %>
