<div id="event" name="event">
  <% if event %>
    <h1><%= event.title %></h1>
    <p>Начало: <%= content_tag(:b, format(event.start_at)) %></p>
    <h2>Описание</h2>
    <p><%= event.data %></p>
  <% end %>
</div>


<div id="calendar-wrapper" name="calendar-wrapper" class="small shadow" data-url="<%= events_path %>">
  <h1>КАЛЕНДАРЬ</h1>
  <div id="calendar_small" name="calendar_small" data-url="<%= calendar_events_path %>"></div>
</div>