<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> не дают сохранить объект:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event, 'Событие' %><br>
    <%= f.text_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :user_id, 'Автор' %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :file_link_id, 'ID файла' %><br>
    <%= f.text_field :file_link_id %>
  </div>
  <div class="field">
    <%= f.label :data, 'Текст' %><br>
    <%= f.text_area :data %>
  </div>
  <div class="field">
    <%= f.label :selected, 'Избранный?' %><br>
    <%= f.check_box :selected %>
  </div>
  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
