<h1>Отзывы</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Событие</th>
      <th>Автор</th>
      <th>Файл</th>
      <th>Текс</th>
      <th>Избранный?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.id %></td>
        <td><%= feedback.event.try(:title) %></td>
        <td><%= feedback.user.try(:show_name) %></td>
        <td><%= feedback.file_link.try(:url) %></td>
        <td><%= feedback.data %></td>
        <td><%= feedback.selected ? 'да':'' %></td>
        <td><%= link_to 'Показать', feedback %></td>
        <td><%= link_to 'Править', edit_feedback_path(feedback) %></td>
        <td><%= link_to 'Удалить', feedback, method: :delete, data: { confirm: 'Точно удалить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый отзыв', new_feedback_path %>
