<h1>Listing feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>File link</th>
      <th>Data</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.event.try(:title) %></td>
        <td><%= feedback.user.try(:show_name) %></td>
        <td><%= feedback.file_link.try(:url) %></td>
        <td><%= feedback.data %></td>
        <td><%= link_to 'Show', feedback %></td>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback', new_feedback_path %>
