<p id="notice"><%= notice %></p>

<p>
  <strong>Событие:</strong>
  <%= @feedback.event.try(:title) %>
</p>

<p>
  <strong>Пользователь:</strong>
  <%= @feedback.user.show_name %>
</p>

<p>
  <strong>Ссылка на файл:</strong>
  <%= @feedback.file_link.try(:url) %>
</p>

<p>
  <strong>Текст:</strong>
  <%= @feedback.data %>
</p>

<%= link_to 'Править', edit_feedback_path(@feedback) %> |
<%= link_to 'Назад', feedbacks_path %>
