<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @feedback.event %>
</p>

<p>
  <strong>User:</strong>
  <%= @feedback.user %>
</p>

<p>
  <strong>File link:</strong>
  <%= @feedback.file_link %>
</p>

<p>
  <strong>Data:</strong>
  <%= @feedback.data %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
