<!DOCTYPE html>
<html>
<head>
  <title>ZhyviCom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper" name="wrapper">
    <%= show_flash %>
    <div id="left" name="left">
      <div class="top_div">
        <div class="image"></div>
        <%= category_divs %>

      </div>
      <div id="sign_up" name="sign_up">
        <%= link_to 'ВЫХОД', destroy_user_session_path, method: :delete if current_user %>
        <%= link_to 'РЕГИСТРАЦИЯ', new_user_registration_path unless current_user %>
      </div>
      <div id="feedbacks" name="feedbacks" class="shadow">
        <%= render 'feedbacks/selected_list', feedbacks: selected_list %>
      </div>
    </div>

    <div id="content" name="content">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
