<!DOCTYPE html>
<html>
<head>
  <title>ZhyviCom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper" name="wrapper">
  <%= show_flash %>

  <div id="top" name="top">
    <div id="categories" name="categories" class="left">
      <a href="/"><div class="logo"></div></a>
      <%= category_divs %>
    </div>

    <div id="carusel" name="carusel" class="main">
      <%= category_images %>
    </div>
  </div>

  <div id="middle" name="middle">
    <div id="button" name="button" class="left">
        <%= link_to 'ВЫХОД', destroy_user_session_path, method: :delete, class: 'shadow' if current_user %>
        <%= link_to 'РЕГИСТРАЦИЯ', new_user_registration_path, class: 'shadow' unless current_user %>
    </div>

    <div id="user" name="user">
      <%= render 'users/current_user' if current_user %>
      <%= render 'devise/sessions/short_new', resource: User, resource_name: User unless current_user %>
    </div>

    <div id="contacts" name="contacts">
      <%= render 'home/contacts' %>
    </div>
  </div>

  <div id="content" name="content">
    <div id="feedbacks" name="feedbacks" class="left">
      <%= render 'feedbacks/selected_list', feedbacks: selected_list %>
    </div>

    <%= yield %>

  </div>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
